{{- $profile := index .hostProfiles .chezmoi.hostname | default "default" -}}
{{- $models := index .profiles $profile "models" -}}
{
  "model": "{{ $models.luna }}",
  "maxWords": 4,
  "maxChars": 40
}
