# Jira Cloud credentials for purestorage.atlassian.net.
# Fill in the values below. Do not commit or share this file.
JIRA_CLOUD_URL=https://purestorage.atlassian.net
JIRA_CLOUD_EMAIL=jasyang@purestorage.com
JIRA_CLOUD_API_TOKEN={{ .jiraCloudApiToken }}
